<!doctype html>
<html lang="en">
  <head>
    {{>headLinks}}
  </head>
  <body>
    
    {{>navbar}} 
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right">
                        <figure>
                            <img src="images/about.jpg" alt="" width="350">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <h1>Welcome to weather app</h1>
                        <p>I am a <span class="text_clr">Full Stack Developer</span></p>
                        <a href="#" target="_blank"><button>About me</button></a>
                    </div>
                    <!-- right side div -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

  </body>
</html>