<!doctype html>
<html lang="en">
  <head>
    {{>headLinks}}
  </head>
  <body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="main_content">
                    <form action="" class="temp_form">
                        <input type="text" id="cityName" placeholder="Enter your city name" autocomplete="off">
                        <input type="submit" value="search" id="submitBtn">
                    </form>
                </div>
                <div class="tempInfo">
                    <div class="top_layer">
                        <p id="day">Wednesday</p>
                        <p id="today_date">29 SEPT</p>
                    </div>
                    <div class="main_layer">
                        <p id="city_name">Get Output Here</p>
                        <div class="middle_layer data_hide">
                            <p id="temp"><span id="temp_real_val">0</span><sup>o</sup>C</p>
                            <p id="temp_status"><i  class="fas fa-cloud"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    {{>footer}}

    <script src="js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

    <script>
        const getCurrentDay=()=>{
            let weekDay=new Array(7);
            weekDay[0]="Sunday";
            weekDay[1]="Monday",
            weekDay[2]="Tuesday",
            weekDay[3]="Wednesday",
            weekDay[4]="Thursday";
            weekDay[5]="Friday";
            weekDay[6]="Saturday";

            let currentTime=new Date();
             days=weekDay(currentTime.getDay());
        const day=document.getElementById('day')
            day.innerText=days;
        }

        getCurrentDay();
    </script>
  </body>
</html>